asyncio
opencv-python
pvporcupine
pyttsx3
pyowm
pyperclip
pyautogui
keyboard
numpy
pandas
dataset
sounddevice
cv2
webbrowser
vosk
win32gui
win32con
pycaw
comtypes
string
subprocess
openai
eel
tensorflow
