# python >=3.11
python-dotenv==1.1.1
vosk==0.3.45
git+https://github.com/noirb/pymorphy2.git
Levenshtein==0.27.1
pyautogui==0.9.54
sounddevice==0.5.2
torch==2.7.1
torchaudio==2.7.1
pygame==2.6.1
pvrecorder==1.2.7
pvporcupine==3.0.5
dotenv==0.9.9